:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.b-bottom-row {
  padding-left: 0;
  width: 26.15%;
}

@media (max-width: 1399px){
  .b-bottom-row {
    width: 26.3%;
  }
}

@media (max-width: 1299px){
  .b-bottom-row {
    width: 26.35%;
  }
}

@media (max-width: 1199px){
  .b-bottom-row {
    width: 26.6%;
  }
}

@media (max-width: 1002px){
  .b-bottom-row {
    width: 26.6%;
  }
}

@media (max-width: 991px){
  .b-bottom-row {
    width: 27.2%;
  }
}

@media (max-width: 767px){
  .b-bottom-row {
    width: 28%;
  }
}

@media (max-width: 529px){
  .b-bottom-row {
    width: 28.2%;
  }
}

@media (max-width: 505px){
  .b-bottom-row {
    width: 28.4%;
  }
}

@media (max-width: 485px){
  .b-bottom-row {
    width: 28.6%;
  }
}

@media (max-width: 469px){
  .b-bottom-row {
    width: 29%;
  }
}